*.log
.DS_Store
.env
.env.backup
.env.local
.env.*.local
.env.production
/client/.env
/client/.env.*
/client/node_modules
/client/dist
/server/.env
/server/.env.backup
/server/.env.local
/server/.env.*.local
/server/.env.production
/server/.phpunit.cache
/server/.phpunit.result.cache
/server/node_modules
/server/output
/server/public/build
/server/public/fonts-manifest.dev.json
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/storage/pail
/server/tmp
/server/vendor
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/coverage
/node_modules
/output
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/work
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
